@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

* {
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper {
	width: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	width: 100%;
}

ul {
	width: 100%;

	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	list-style-type: none;
}

li {
	display: flex;
	border-top: solid rgb(211, 211, 211) 1px;
}

ul,
li,
label {
	cursor: pointer;
}

input {
	display: none;
}

label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label:has(~input:checked) {
	color: rgb(32, 114, 207);
}

label:has(~input:checked) img {
	display: flex;
	width: 50%;
}

label:hover img {
	display: flex;
	width: 50%;
	transition: width 1s ease-in-out;
}

span {
	width: 100%;
}

img {
	width: 0%;
	transition: width 0.5s ease-out;
	display: flex;
}